# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Logs & temp
*.log
*.tmp
*.bak
*.swp
*.swo

# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# Build
/dist
/build
/out
